<form action="/RequestResponse/PostRequest" method="post">
    <label>Ad</label>
    <input type="text" name="adi" />
    <br />
    <label>Soyad</label>
    <input type="text" name="soyadi" />
    <button type="submit">Send</button>
    &nbsp;
    <button type="reset">Clear</button>
</form>